__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# db
db.sqlite3
*.sqlite3
*.db
*.sql
*.dump
*.backup

# static & media
img/
media/
logs/
logger/
static_root/
static/faces/
static/file/
static/error/

# dev files
*.txt
.codex
